<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of this.movies">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header style="height: 70px;">
          <mat-card-title>{{movie.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image style="height: 400px;" src={{movie.picture}}>
        <mat-card-content>
          <p>
            {{movie.synopsis}}
          </p>
        </mat-card-content>

        <mat-card-actions class="example-card">
          <mat-form-field>
          <mat-label>Nombre de personnes</mat-label>
          <mat-select [(ngModel)]="movie.nbPlaceRes">
            <mat-option *ngIf="movie.nbPlace>=1" value="1">1</mat-option>
            <mat-option *ngIf="movie.nbPlace>=2" value="2">2</mat-option>
            <mat-option *ngIf="movie.nbPlace>=3" value="3">3</mat-option>
            <mat-option *ngIf="movie.nbPlace>=4" value="4">4</mat-option>
            <mat-option *ngIf="movie.nbPlace>=5" value="5">5</mat-option>
            <mat-option *ngIf="movie.nbPlace==0" >Not Available</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button color="primary" (click)="reserve(movie)">Reserver</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>
