<mat-card class="new-film">
  <mat-card-header>
    <mat-card-title>New Movie</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Movie Title</mat-label>
      <input matInput type="text" [(ngModel)]="movies.title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="movies.synopsis" placeholder="Synopsis"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="movies.nbPlace" placeholder="Places Number"></textarea>
    </mat-form-field>
    <mat-form-field>
      <ngx-mat-file-input [(ngModel)]="movies.picture" [accept]="accept">
        <mat-icon ngxMatFileInputIcon>folder</mat-icon>
      </ngx-mat-file-input>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="updateNote()" mat-raised-button>Modifier</button>
  </mat-card-actions>
</mat-card>
