 <mat-card class="note" *ngIf="noteStatus==='view'">
    <mat-card-header>
      <mat-card-title> {{note.noteTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{note.noteText}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="delete" mat-raised-button color="accent" (click)="deleteNoteEvent()">Delete</button>
      <button class="edit" mat-button routerLink="/note/{{note._id}}">edit</button>
      <button class="edit" mat-button (click)="noteStatus='edit'">In-page edit</button>
    </mat-card-actions>
  </mat-card>

 <mat-card class="note edit" *ngIf="noteStatus==='edit'">
   <mat-card-content>
     <mat-form-field>
     <mat-label>Note title</mat-label>
     <input name="note-title" matInput type="text" [(ngModel)]="note.noteTitle" placeholder="Note title"/>
     </mat-form-field>
     <br>
     <mat-form-field>
       <textarea name="note-text" matInput  [(ngModel)]="note.noteText" placeholder="Note text"></textarea>
     </mat-form-field>
   </mat-card-content>
   <mat-card-actions>
     <button class="delete" mat-raised-button color="accent" (click)="deleteNoteEvent()">Delete</button>
     <button class="update" mat-button color="primary" (click)="updateNote()">edit</button>
   </mat-card-actions>
 </mat-card>

 <mat-card class="note error" *ngIf="noteStatus==='error'" style="background:red; color:white;">
   <mat-card-header>
     Edit error, please try again
   </mat-card-header>
   <mat-card-actions>
     <button class="edit" mat-raised-button color="warn" (click)="noteStatus='edit'">ok</button>
   </mat-card-actions>
 </mat-card>

 <mat-card class="note loading" *ngIf="noteStatus==='loading'">
   <mat-card-header>Loading...</mat-card-header>
 </mat-card>
