<mat-toolbar color="primary">
  <span>Cinemapp</span>
  <button *ngIf="authService.connectedUser" routerLink="/movies" routerLinkActive="active-link" mat-button>Movies</button>
  <button *ngIf="authService.connectedUser" routerLink="/reservation" routerLinkActive="active-link" mat-button>My Reservations</button>
  <button *ngIf="authService.connectedAdmin " routerLink="/moviesManager" routerLinkActive="active-link" mat-button>Movies Manager</button>
  <button *ngIf="authService.connectedAdmin " routerLink="/users-manager" routerLinkActive="active-link" mat-button>Users Manager</button>
  <button *ngIf="authService.connectedUser" routerLinkActive="active-link" mat-button color="warn" (click)="logout()">Log Out</button>
</mat-toolbar>
