<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of this.movies">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{movie.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{movie.picture}}>
        <mat-card-content>
          <p>
            {{movie.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="reserve(movie._id)">Reserver</button>
          <mat-label>Nombre de personnes</mat-label>
          <select [(ngModel)]="nbPlace">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>
